* {
    
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.315);/* cor de fundo */
}

.container {
    width: 90%;
    margin: 0 auto;
}
    

header {
    background-color: #8fabca;
    color: white;
    padding: 1rem 0;
    box-shadow: 0px 0px 20px 20px rgb(32, 109, 103);
    
}

.titulo {
    text-align: center;

}

.titulo h1 {
    font-size: 60px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #128C7E;
}

.titulo h2{
    color: rgb(8, 8, 146);
}

.logo h2 {
    max-width: 50px; 
    margin-left: 10%; 
    position: absolute; 
    color: rgb(255, 255, 255);
    margin-top: 0%; 
}

.logo i{
    max-width: 50px; 
    margin-left: -60%; 
    position: absolute; 
    color: rgb(255, 255, 255);
    margin-top: -5%;
}

.center p {
    max-width: 50px; 
    margin-left: 6.5%; 
    position: absolute; 
    color: rgb(255, 255, 255);
    padding: 3vh;
    white-space: nowrap;
    margin-top: 0%; 
}

.logo-right h2 {
    max-width: 50px; 
    margin-left: 85%; 
    position: absolute; 
    color: rgb(255, 255, 255);
    margin-top: -0.5%;
}

.right p {
    max-width: 50px; 
    margin-left: 81%; 
    position: absolute; 
    color: rgb(249, 252, 252);
    padding: 3vh;
    white-space: nowrap;
    margin-top: -0.3%; 
}

.telefone-vendas p{
    max-width: 50px; /* Isso altera o tamanho da logo */
    margin-left: 81%; /* Isso move o paragrafo para a direita */
    position: absolute; /* Isso alinha a logo com o menu */
    color: rgb(254, 255, 255);
    padding: 3vh;
    white-space: nowrap;
    margin-top: 0.7%; /* Isso altera a pasoção do paragrafo para cima ou para */
}

img{
    width: 150px;
    height: 150px;
    margin-top: 2%;
    box-shadow: 0px 0px 20px 10px rgb(2, 2, 2);
}

.perfil{
    text-align: center;
}

.suporte-video{
    margin-left: 30%; 
    position: absolute; 
    background-color: none;
    margin-top: -1%;
    /*box-shadow: 0px 0px 20px 10px rgb(12, 218, 200);*/
}

.suporte-video h4{
    margin-left: 2%;
    white-space: nowrap;
    text-align: center;
}

.agendamento h1{
    text-align: center;
    margin-top: 5%;
    color: gray;
}

.agendamento p{
    text-align: center;
    margin-top: 1%;
    color: rgb(6, 6, 150);
}

.menu-hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none !important;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    color: #fffefe; /* Muda cor do icones do menu */
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    color: rgb(255, 255, 255); /* Muda cor do titulos do menu */
    text-decoration: none;
    padding: 1rem;
}

/* Outras regras de estilo */

.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 500px; /* Ajuste a altura conforme necessário para o seu banner */
    margin: auto;
    overflow: hidden; /* Garante que o conteúdo que ultrapassar a área visível seja escondido */
}

.mySlides {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem cubra toda a área sem distorcer */
}

.text {
    color: #fdfdfc;
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
    position: absolute;
    bottom: 20px; /* Ajuste o posicionamento vertical do texto */
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor legibilidade */
    padding: 10px; /* Espaço interno ao redor do texto */
}

.text h1 {
    color: #fdfdfc;
    margin: 0;
}

.whatsapp-button {
    background-color: #25D366;
    border: none;
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 30px 25px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #070707;
    color: #fff;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 600px) {
    .nav-menu {
        display: none;
        flex-direction: column;
    }

    .menu-hamburger {
        display: block;
    }
}



@media (max-width: 600px) {

    header {
        background-color: white;
    }


    .logo h2{
        text-align: center;
        margin-left: 115px;
        font-size: 2rem;
        padding: -2rem;
        color: #000;
    }

    .center p{
        text-align: center;
        font-size: 1rem;
        margin-left: 14%;
        padding: 10%;
        color: #000;
        
    }

    .logo-right h2{
        display: none;
    }

    .logo-right p{
       display: none;
    }

    .logo i{
        margin-right: 11%;
        padding: 5%;
        color: #000;
    }

    .titulo h1{
        font-size: 3rem;
    }

    .menu-hamburger{
        font-size: 2rem;
        height: 50px;
        color: #9B9B9B;
    }

    .nav-menu li{
        text-align: center;
        font-size: 6px;
        margin-left: 1%;
        
    }

    .nav-menu a{
        font-size: 11px;
        margin-left: 2%;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(10, 10, 10);
    }

    .slideshow-container {
        position: relative;
        max-width: 100%;
        height: 500px; /* Ajuste a altura conforme necessário para o seu banner */
        margin: auto;
        overflow: hidden; /* Garante que o conteúdo que ultrapassar a área visível seja escondido */
    }
    
    .mySlides {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .mySlides img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Faz com que a imagem cubra toda a área sem distorcer */
    }

    .whatsapp-button{
        margin-left: 2%;
        margin-top: 75%;
        width: 20rem;
    }

    .button-topo {
       
        background-color: #000502;
    border: none;
    color: white;
    padding: 1%;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 30px 25px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .text {

        display: none;
    }

    .suporte-video video {
  
         height: 200px;
         margin-top: 400%;
         margin-left: 20%;
         margin-right: 50%;
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: #086e6e;
        color: #fff;
    }
      
}

